
<div class="container">
<div class="jumbotron">

 
    <img src="images/2013-01-30 10.51.25.jpg">

<h1>Welcome To One Month Rails</h1>
<p class="lead">
	You've found the home page for the 
	<%= link_to "One Month Rails", "http://onemonthrails.com" %> application.
</p>
<p>

<%= link_to "Sign up now", new_user_registration_path, class: "btn btn-large btn-primary" %>
</p>
</div>
</div>
<!--
<div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="#" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Example headline.</h1>
              <p class="lead">This is a Test Carousel</p>
              <a class="btn btn-large btn-primary" href="#">Sign up today</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="#" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p class="lead">This is picture 2</p>
              <a class="btn btn-large btn-primary" href="#">Learn more</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="#" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p class="lead">Last Pic</p>
              <a class="btn btn-large btn-primary" href="#">Browse gallery</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->