<div class="footer">
<hr class="featurette-divider">
<div class="text-center">
<!--<div class="span9"> -->
<small><%= link_to "One Month Rails", "http://onemonthrails.com" %> by <%= link_to "Mattan Griffel", "http://mattangriffel.com" %></small>
</div>
</div>
<!--</div>->